html {
	background-color: #f5f5f5;
	color: #000;
}



.top {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.Site {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}



.header__logo {
	padding-top: 10px;
}




a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}




	#tabell {
		display: flex;
		order: 2;
		flex-direction: column;
		margin-left: 10px;
		width: 90%;
	}



footer {
	background-color: #f1f1f1;
	color: darkgray;
	border-top: 5px;
	text-align: center;
}



/* Små mobilskjermer */
@media (max-width: 381px) {

	header {
		width: 100%;
	}



}

@media (min-width: 768px) {

	main {
		display: flex;
		flex-direction: row;
	}

	header {
		width: 100%;
	}

	footer {
		width: 100%;
	}

}
